name: Tests
on:
  push:
    branches:
      - main

jobs:
  Lint:
    defaults:
      run:
        shell: bash -l {0}
    runs-on: ubuntu-latest
    steps:
      - name: Start Energy Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          task: start-measurement
      - name: Checking Out Repository
        uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: which python
      - id: measurement-4
        name: Record Measurement After Step
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          label: Step
          task: get-measurement
      - name: Lint with pre-commit
        run: 'pip install pre-commit

          pre-commit install --install-hooks

          pre-commit run --all-files

          '
      - id: measurement-6
        name: Record Measurement After Lint with pre-commit
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          label: Lint with pre-commit
          task: get-measurement
      - id: display-measurement
        name: Display Energy Results
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          task: display-results
      - name: Save Total Energy Consumption Data
        run: echo '${{ steps.final-measurement.outputs.data-total-json }}' > total_energy_consumption-${{
          github.run_id }}.json
      - name: Upload Energy Consumption Artifact
        uses: actions/upload-artifact@v4
        with:
          name: total-energy-consumption
          path: total_energy_consumption-${{ github.run_id }}.json
    strategy:
      fail-fast: false
  build_from_source:
    runs-on: ubuntu-latest
    steps:
      - name: Start Energy Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          task: start-measurement
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Build from source
        run: 'python -m pip install --upgrade pip setuptools wheel

          python -m pip install cython numpy

          python setup.py sdist bdist_wheel

          pip install dist/*.tar.gz

          '
      - id: measurement-4
        name: Record Measurement After Build from source
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          label: Build from source
          task: get-measurement
      - id: display-measurement
        name: Display Energy Results
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          task: display-results
      - name: Save Total Energy Consumption Data
        run: echo '${{ steps.final-measurement.outputs.data-total-json }}' > total_energy_consumption-${{
          github.run_id }}.json
      - name: Upload Energy Consumption Artifact
        uses: actions/upload-artifact@v4
        with:
          name: total-energy-consumption
          path: total_energy_consumption-${{ github.run_id }}.json
  linux:
    if: '!contains(github.event.head_commit.message, ''no ci'')'
    runs-on: ubuntu-latest
    steps:
      - name: Start Energy Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          task: start-measurement
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install POT
        run: 'pip install -e .

          '
      - id: measurement-4
        name: Record Measurement After Install POT
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          label: Install POT
          task: get-measurement
      - name: Install dependencies
        run: 'python -m pip install --upgrade pip setuptools

          pip install -r requirements_all.txt

          pip install pytest pytest-cov

          '
      - id: measurement-6
        name: Record Measurement After Install dependencies
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          label: Install dependencies
          task: get-measurement
      - name: Run tests
        run: 'python -m pytest --durations=20 -v test/ ot/ --doctest-modules --color=yes
          --cov=./ --cov-report=xml

          '
      - id: measurement-8
        name: Record Measurement After Run tests
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          label: Run tests
          task: get-measurement
      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v3
      - id: display-measurement
        name: Display Energy Results
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          task: display-results
      - name: Save Total Energy Consumption Data
        run: echo '${{ steps.final-measurement.outputs.data-total-json }}' > total_energy_consumption-${{
          github.run_id }}.json
      - name: Upload Energy Consumption Artifact
        uses: actions/upload-artifact@v4
        with:
          name: total-energy-consumption
          path: total_energy_consumption-${{ github.run_id }}.json
    strategy:
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
      max-parallel: 4
  linux-minimal-deps:
    if: '!contains(github.event.head_commit.message, ''no ci'')'
    runs-on: ubuntu-latest
    steps:
      - name: Start Energy Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          task: start-measurement
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: 'python -m pip install --upgrade pip setuptools

          pip install pytest pytest-cov

          '
      - id: measurement-4
        name: Record Measurement After Install dependencies
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          label: Install dependencies
          task: get-measurement
      - name: Install POT
        run: 'pip install -e .

          '
      - id: measurement-6
        name: Record Measurement After Install POT
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          label: Install POT
          task: get-measurement
      - name: Run tests
        run: 'python -m pytest --durations=20 -v test/ ot/ --color=yes --cov=./ --cov-report=xml

          '
      - id: measurement-8
        name: Record Measurement After Run tests
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          label: Run tests
          task: get-measurement
      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v3
      - id: display-measurement
        name: Display Energy Results
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          task: display-results
      - name: Save Total Energy Consumption Data
        run: echo '${{ steps.final-measurement.outputs.data-total-json }}' > total_energy_consumption-${{
          github.run_id }}.json
      - name: Upload Energy Consumption Artifact
        uses: actions/upload-artifact@v4
        with:
          name: total-energy-consumption
          path: total_energy_consumption-${{ github.run_id }}.json
  macos:
    if: '!contains(github.event.head_commit.message, ''no ci'')'
    runs-on: ${{ matrix.os }}
    steps:
      - name: Start Energy Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          task: start-measurement
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install POT
        run: 'pip install -e .

          '
      - id: measurement-4
        name: Record Measurement After Install POT
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          label: Install POT
          task: get-measurement
      - name: Install dependencies
        run: 'python -m pip install --upgrade pip setuptools

          pip install -r requirements_all.txt

          pip install pytest

          '
      - id: measurement-6
        name: Record Measurement After Install dependencies
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          label: Install dependencies
          task: get-measurement
      - name: Run tests
        run: 'python -m pytest --durations=20  -v test/ ot/ --color=yes

          '
      - id: measurement-8
        name: Record Measurement After Run tests
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          label: Run tests
          task: get-measurement
      - id: display-measurement
        name: Display Energy Results
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          task: display-results
      - name: Save Total Energy Consumption Data
        run: echo '${{ steps.final-measurement.outputs.data-total-json }}' > total_energy_consumption-${{
          github.run_id }}.json
      - name: Upload Energy Consumption Artifact
        uses: actions/upload-artifact@v4
        with:
          name: total-energy-consumption
          path: total_energy_consumption-${{ github.run_id }}.json
    strategy:
      matrix:
        os:
          - macos-latest
        python-version:
          - '3.12'
      max-parallel: 4
  windows:
    if: '!contains(github.event.head_commit.message, ''no ci'')'
    runs-on: windows-latest
    steps:
      - name: Start Energy Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          task: start-measurement
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: RC.exe
        run: "function Invoke-VSDevEnvironment {\n$vswhere = \"${env:ProgramFiles(x86)}\\\
          Microsoft Visual Studio\\Installer\\vswhere.exe\"\n    $installationPath\
          \ = & $vswhere -prerelease -legacy -latest -property installationPath\n\
          \    $Command = Join-Path $installationPath \"Common7\\Tools\\vsdevcmd.bat\"\
          \n  & \"${env:COMSPEC}\" /s /c \"`\"$Command`\" -no_logo && set\" | Foreach-Object\
          \ {\n        if ($_ -match '^([^=]+)=(.*)') {\n            [System.Environment]::SetEnvironmentVariable($matches[1],\
          \ $matches[2])\n        }\n    }\n}\nInvoke-VSDevEnvironment\nGet-Command\
          \ rc.exe | Format-Table -AutoSize\n"
      - id: measurement-4
        name: Record Measurement After RC.exe
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          label: RC.exe
          task: get-measurement
      - name: Update pip
        run: 'python -m pip install --upgrade pip setuptools

          python -m pip install cython

          '
      - id: measurement-6
        name: Record Measurement After Update pip
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          label: Update pip
          task: get-measurement
      - name: Install POT
        run: 'python -m pip install -e .

          '
      - id: measurement-8
        name: Record Measurement After Install POT
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          label: Install POT
          task: get-measurement
      - name: Install dependencies
        run: 'python -m pip install -r .github/requirements_test_windows.txt

          python -m pip3 install torch torchvision torchaudio

          python -m pip install pytest

          '
      - id: measurement-10
        name: Record Measurement After Install dependencies
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          label: Install dependencies
          task: get-measurement
      - name: Run tests
        run: python -m pytest --durations=20  -v test/ ot/ --color=yes
      - id: measurement-12
        name: Record Measurement After Run tests
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          label: Run tests
          task: get-measurement
      - id: display-measurement
        name: Display Energy Results
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          task: display-results
      - name: Save Total Energy Consumption Data
        run: echo '${{ steps.final-measurement.outputs.data-total-json }}' > total_energy_consumption-${{
          github.run_id }}.json
      - name: Upload Energy Consumption Artifact
        uses: actions/upload-artifact@v4
        with:
          name: total-energy-consumption
          path: total_energy_consumption-${{ github.run_id }}.json
    strategy:
      matrix:
        python-version:
          - '3.12'
      max-parallel: 4
