name: circleci-redirector
on:
  push:
    branches:
      - main

jobs:
  circleci_artifacts_redirector_job:
    if: '${{ github.event.context == ''ci/circleci: build_docs'' }}'
    name: Run CircleCI artifacts redirector
    runs-on: ubuntu-latest
    steps:
      - name: Start Energy Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          task: start-measurement
      - name: GitHub Action step
        uses: larsoner/circleci-artifacts-redirector-action@master
        with:
          api-token: ${{ secrets.CIRCLE_TOKEN }}
          artifact-path: 0/dev/index.html
          circleci-jobs: build_docs
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - id: display-measurement
        name: Display Energy Results
        uses: green-coding-solutions/eco-ci-energy-estimation@v4
        with:
          json-output: true
          task: display-results
      - name: Save Total Energy Consumption Data
        run: echo '${{ steps.final-measurement.outputs.data-total-json }}' > total_energy_consumption-${{
          github.run_id }}.json
      - name: Upload Energy Consumption Artifact
        uses: actions/upload-artifact@v4
        with:
          name: total-energy-consumption
          path: total_energy_consumption-${{ github.run_id }}.json
